body{
      background-color: rgba(0,162,182,0.75);
      padding-top: 20px;
      padding-bottom: 20px;

}


.video-container {
    margin: 10px auto;
    width: 500px;
    height: 375px;
    border: 5px #333 solid;

}
.videoElement {
    width: 500px;
    height: 375px;
    background-color: #666;
}

.jumbotron {
    margin: auto;
    width: 700px;
    height: 600px;
    padding:  30px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}

h2{
  font-family: proxima-nova,sans-serif;

}
