<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome Center</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
  </head>

  <body>
    <div class="jumbotron">
      <h2>CCF Welcome Center</h2>
      <div class="video-container">
          <video autoplay="true" class="videoElement">
          </video>
      </div>
    </div>

    <script>
      const constraints = {
        audio: false
        video: true
      };

      const video = document.querySelector('video');

      function handleSuccess(stream) {
        video.srcObject = stream;
      }

      function handleError(error) {
        console.log(err.name + ": " + err.message)};
      }

      navigator.mediaDevices.getUserMedia(constraints).
        then(handleSuccess).catch(handleError);
    </script>

  </body>
</html>
